{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block content %}
    {% if result is not None %}
        <h1>
            {% trans 'The result is: ' %}{{ result|floatformat:4|intcomma }}
        </h1>
    {% endif %}
    <h1>
        {% trans 'Top Calculator' %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Execute' %}</button>
    </form>
    <br>
    <br>
    <a href="{% url 'html_static_content:index_page' %}">{% trans 'Back to beginning' %}</a>
{% endblock %}
